<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Sound Engineers - <%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <header>
        <h1>Minecraft Sound Engineers - <%= title %></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/downloads">Download the mod</a></li>
                <li><a href="/about">About me</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/auth/login">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <p>&copy; 2024 Isak Grönlund. Licenced with MIT</p>
    </footer>
</body>
</html>