<h1>Download the Mod</h1>
<p>Follow the instructions below to install:</p>
<pre>
    1. Click the Download Mod button below
    2. Chose a supported minecraft version
    3. Place the file in your Minecraft mods folder.
    4. Enjoy!

</pre>

<a href="/downloadversions" class="button">Download Mod</a>

<h2><pre>OR</pre></h2>

<pre>
    1. Go two Curseforge on the link below
    2. Download the Mod
    3. Place it in your mods folder
    4. Enjoy!

</pre>

<a class="button" href="https://www.curseforge.com" target="_blank">Curseforge</a>

<h2><pre>OR</pre></h2>

<pre>
    1. Go two Modrinth with the link down below
    2. Download the Mod
    3. Place it in your mods folder
    4. Enjoy!

</pre>

<a class="button" href="https://www.modrinth.com" target="_blank">Modrinth</a>