.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(0, 123, 255);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-left: 20px; /* Adjust margin as needed */
}

.button:hover {
  background-color: rgb(0, 86, 179); /* Darker color on hover */
}

.button:active {
  background-color: rgb(0, 92, 200);
}

.headertitle {
  margin-left: 20px;  
}

.topofthepage {
  margin-top: 160px;
  margin-left: 20px;
}

.body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-input {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 200%;
}

.center-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  background-color: rgb(0, 123, 255);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 150%;
  cursor: pointer;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3abe6d; /* Example background color */
  color: #fff; /* Example text color */
  padding: 20px;
  z-index: 1000; /* Ensure header is above other content */
}

.lastupdated {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  background-color: rgb(0, 123, 255);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 150px;
  margin-left: 20px;
}

.button-home {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(0, 123, 255);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-left: 20px; /* Adjust margin as needed */
}

.button-home:hover {
  background-color: rgb(0, 86, 179); /* Darker color on hover */
}

.button-home:active {
  background-color: rgb(0, 92, 200);
}

.mackiethumpgo {
  cursor: pointer;
  margin-left: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.right-button-container {
  float: right;
}

.button-admin {
  margin-right: 40px;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(0, 123, 255);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.button-admin:hover {
  background-color: rgb(0, 86, 179);
}

.button-admin:active {
  background-color: rgb(0, 92, 200);
}

.container-mackie-thumb-go {
  margin-left: 20px;
  cursor: pointer;
}

.container-mackie-thumb-go img {
  display: inline-block; /* Allows the image to be centered */
  vertical-align: middle; /* Aligns the image vertically in the middle */
}

.container-mackie-thumb-go p {
  display: inline-block; /* Allows the anchor element to be centered */
  vertical-align: top; /* Aligns the anchor element vertically in the middle */
  margin-left: 15px; /* Adjust as needed to create space between the image and the link */
  font-size: 130%;
}

.container-mackie-thumb-go button {
  display: inline-block;
  vertical-align: middle;
}

.container-Superlux-HMD-66x {
  margin-top: 50px;
  cursor: pointer;
  margin-left: 20px;
}

.container-Superlux-HMD-66x img {
  display: inline-block;
  vertical-align: middle;
}

.container-Superlux-HMD-66x p {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  font-size: 130%;
}

.container-Superlux-HMD-66x button {
  display: inline-block;
  vertical-align: middle;
}

.button-center-bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(0, 123, 255);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-left: 20px; /* Adjust margin as needed */
}

.product-container {
  display: flex;
  align-items: center;
  vertical-align: top;
  flex-direction: column;
  margin-bottom: 45px;
}

.p {
  font-size: 200%;
  vertical-align: top;
  top: 0;
  margin-left: 20px;
  margin-top: 10px;
}

.margin-left-text {
  margin-left: 20px;
  color: rgb(255, 255, 255);
}

.a-to-p {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-left: 20px;
  font-size: 200%;
}

.indexbody {
  background-color: rgb(0, 0, 0);
}

.our-products {
  color: rgb(255, 255, 255);
  margin-left: 20px;
  font-size: 200%;
}

.wip {
  font-size: 500%;
}

.white-p-product {
  color: rgb(255, 255, 255);
}

.top-p {
  margin-top: 160px;
  margin-left: 20px;
  color: rgb(255, 255, 255);
  font-size: 140%;
}

.lastupdated-p {
  margin-left: 20px;
  color: rgb(255, 255, 255);
}

p {
  color: rgb(255, 255, 255);
}

.top-div-center {
  margin-top: 200px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.top-div {
  margin-top: 200px;
  margin-left: 20px;
}


.container-AKG-DST-99-S {
  margin-top: 50px;
  cursor: pointer;
  margin-left: 20px;
}

.container-AKG-DST-99-S img {
  display: inline-block;
  vertical-align: middle;
}

.container-AKG-DST-99-S p {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  font-size: 130%;
}

.container-AKG-DST-99-S button {
  display: inline-block;
  vertical-align: middle;
}